<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
		
		
		<title>Payvice - Airtime Recharge | Pay Utility Bills with ease </title>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
 <link rel="stylesheet" href="assets/css/swiper.css">
		<link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/linea.css">
		<link rel="stylesheet" type="text/css" href="assets/css/waves.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<style>
 .swiper-container {
       /* width: 100%;*/
	   width:270px;
        height: 100%;
		background-image: url(assets/img/mockup4.png);
    	height: 550px;
		background-size: contain;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

</style>
	</head>
	
	<body class="loaded"><div class="" style="visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; height: 620px; width: 1349px; transform: translate3d(0px, 0px, 0px);"><img class="" src="assets/img/bg.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; left: 0px; height: 900px; width: 1349px; max-width: none;"></div><div class="" style="visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 538px; width: 1349px;"><img class="" src="assets/img/bg-mockup.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; left: 0px; height: 835px; width: 1349px; max-width: none;"></div><div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 913px; width: 1349px;"></div>
		
		
		<div id="preloader">
			<div class="loader">
				<img src="assets/img/loader.gif" alt="">
			</div>
		</div>
		
		<nav class="navbar navbar-fixed-top">
			
			<div class="container">
				
				
				<div class="navbar-header">
					
					
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					
					<a href="#" class="navbar-brand">
						<img class="logo-light" src="assets/img/logo.png" alt="">
						<img class="logo-dark" src="assets/img/logo-dark.png" alt="">
					</a>
					
				</div>
				
				
				
				<div class="collapse navbar-collapse" id="nav-collapse">
					<ul class="nav navbar-nav hidden navbar-right">
                <li><a class="btn-customb" href="payviceweb.html" data-scroll="">Use PAYVICE Web<span class="arrow"></span></a></li>
                
                </ul>
					<ul class="nav navbar-nav hidden navbar-right">
						
						<li class="active">
							<a href="#intro" data-scroll="">home</a>
						</li>
						
						<li class="">
							<a href="#features" data-scroll="">Features</a>
						</li>
						
						<li class="">
							<a href="#pricing" data-scroll="">how it work</a>
						</li>
						
						<li>
							<a href="#downloads" data-scroll="">download</a>
						</li>
						
						
						
					</ul>
                  
				
				</div>
				
			</div>
			
		</nav>
		
		<section id="intro" class="main-section parallax">
			
			<div class="particle-bg" id="particles"><canvas class="particles-js-canvas-el" width="1349" height="913" style="width: 100%; height: 100%;"></canvas></div>
			
			
			<div class="container">
				
				<div class="space"></div>
				<div class="row">
					
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 "></div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    
                    <ul id="progressbar">
    <li class="active">User Details</li>
    <li>Choose Password</li>
     <li>Transaction PIN</li>
  </ul>
                    
                    <div class="panel with-nav-tabs no-border panel-default">
                <div class="panel-heading">
                        <a class="no-border" href="#tab1default" data-toggle="tab"><i class="ion-locked padd10"></i><h5 class="inline" style="font-weight:bold">Enter User Details</h5></a>
                </div>
                <div class="panel-body paddfform">
                <div class=" form-group fg-pale text-center">
                <h4>Enter User Details</h4>
                <p>Enter your email. Please ensure that you entered a valid email, as your verification code would be sent to the email</p>
                </div>
                       
 								 <div class=" form-group">
									
									<input class="form-control" type="email" id="newsletter-email" name="EMAIL" placeholder="Your Email">
								
							
									
								</div>
                                
                                <div class=" form-group">
									
									<input class="form-control" type="password" id="newsletter-email" name="name" placeholder="Firstname Lastname">
								
							
									
								</div>
                                
               <div class="form-group">
               <div class="checkbox checkbox-success">
                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                        <label for="inlineCheckbox1"> Have Referral Code? </label>
                    </div>
             
             
             
               </div>                 
                                
                                
								<br/>
								<div class="form-group">
   
                      
   <button href="#" class="btn-custom btn-block arrow-btn waves-effect waves-classic">
								CHOOSE A PASSWORD
								<span class="arrow"></span>
							</button>                           
                                
                      
                                </div>                      
                        
                       
                        
                        
                        
                        
                   
                </div>
           
           
            </div>
                    
                    
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 "></div>
					
					
					
				</div>
				
				
			</div>
			
		</section>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<section id="contact" class="contact-section hidden">
			
			<div class="container">
				
				<div class="section-header text-center">
					<h2 class="wow fadeInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Say Hello!</h2>
					<p class="wow fadeInUp" data-wow-delay=".4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">If you've got any questions, mail us, we will get in touch</p>
				</div>
				
				<div class="row">
					
					<div class="col-md-8 col-md-offset-2">
						
						<form id="contact-form" name="contactForm" class="contact-form" data-toggle="validator" novalidate>
							
							<div id="contact-form-result"></div>
							
							<div class="row">
								
								<div class="col-md-6">
									
									<div class="form-group">
										
										<input type="text" class="form-control wow fadeInUp" data-wow-delay=".4s" name="name" placeholder="Name" required style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
										<div class="help-block with-errors"></div>
										
									</div>
									
								</div>
								
								<div class="col-md-6">
									
									<div class="form-group">
										
										<input type="email" class="form-control wow fadeInUp" data-wow-delay=".5s" name="email" placeholder="Email" required style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
										<div class="help-block with-errors"></div>
										
									</div>
									
								</div>
								
							</div>
							
							<div class="form-group">
								<input type="text" class="form-control wow fadeInUp" data-wow-delay=".6s" placeholder="Subject" required style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
								<div class="help-block with-errors"></div>
							</div>
							
							<div class="form-group">
								<textarea class="form-control wow fadeInUp" data-wow-delay=".8s" placeholder="Message" rows="5" required style="visibility: hidden; animation-delay: 0.8s; animation-name: none;"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							
							<div class="form-group text-center">
								<button type="submit" class="btn-custom wow fadeInUp waves-effect waves-classic disabled" data-wow-delay="1s" style="pointer-events: all; cursor: pointer; visibility: hidden; animation-delay: 1s; animation-name: none;">
									Send Message
								</button>
							</div>
							
						</form>
						
						
					</div>
					
				</div>
				
				
				
			</div>
			
		</section>
	
		<footer>
			<div class="container">
				
				<div class="row">
					
					<div class="col-sm-6">
						
						<p class="wow fadeInLeft" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
							© 2017 PAYVICE.
						</p>
						
					</div>
					
					<div class="col-sm-6">
						
						<ul class="footer-social wow fadeInRight" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
							
							<li>
								<a href="#">
									<i class="ion-social-facebook"></i>
								</a>
							</li>
							
							<li>
								<a href="#">
									<i class="ion-social-twitter"></i>
								</a>
							</li>
					
						</ul>
					
					</div>
					
				</div>
				
			</div>
		</footer>
        
        
        
        
      <a href="#" id="back-to-top" title="Back to top">&uarr;</a>  
        
        
        
        
        
      <script>
    (function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(2000)
            .delay(2000)
            .fadeOut(2000, showNextQuote);
    }
    
    showNextQuote();
    
})();
    
    </script>  
        
   

  
        
        
        
		 <script src="assets/js/swiper.min.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/parallax.min.js"></script>
		<script src="assets/js/particles.min.js"></script>
		<script src="assets/js/waves.min.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/wow.min.js"></script>
		<script src="assets/js/validator.min.js"></script>
		<script src="assets/js/smooth-scroll.min.js"></script>
		<script src="assets/js/script.js"></script>
		
	
	    <!-- Initialize Swiper -->
    
  
    
      <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    </script> 
    
    <script>
    if ($('#back-to-top').length) {
    var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
    });
    $('#back-to-top').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
}
    </script>
    
    
</body></html>